In [1]:
# Loading data
# Handling missing values
# Removing duplicates
# Data type conversions
# Basic data transformations
# Handling outliers
# Encoding categorical variables
# Scaling/normalizing data
# Renaming columns
# Handling inconsistent data

In [2]:
# Data Cleaning Notebook for Beginners

# ## Introduction
# In this notebook, we'll cover some basic and advanced data cleaning techniques using Python and the pandas library.

# ## 1. Loading Data
# First, let's import the necessary libraries and load a sample dataset.

import pandas as pd

# Sample data in a CSV file (You can replace this with your actual data file)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward', None, 'Frank', 'Grace', 'Hannah', 'Ian'],
    'Age': [24, 27, 22, 32, 29, 23, None, 21, 25, 28],
    'Gender': ['F', 'M', 'M', 'M', None, 'M', 'M', 'F', 'F', 'M'],
    'Salary': [50000, 54000, 50000, 52000, 58000, 50000, 59000, None, 60000, 58000],
    'Start Date': ['2020-01-15', '2019-03-22', '2018-06-30', '2015-09-01', '2016-10-12', '2020-11-20', '2017-02-10', '2018-07-19', '2019-08-25', '2018-12-11']
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
      Name   Age Gender   Salary  Start Date
0    Alice  24.0      F  50000.0  2020-01-15
1      Bob  27.0      M  54000.0  2019-03-22
2  Charlie  22.0      M  50000.0  2018-06-30
3    David  32.0      M  52000.0  2015-09-01
4   Edward  29.0   None  58000.0  2016-10-12
5     None  23.0      M  50000.0  2020-11-20
6    Frank   NaN      M  59000.0  2017-02-10
7    Grace  21.0      F      NaN  2018-07-19
8   Hannah  25.0      F  60000.0  2019-08-25
9      Ian  28.0      M  58000.0  2018-12-11

In [3]:
# ## 2. Handling Missing Values
# Missing values are common in datasets. We can handle them by either filling them with a value or dropping the rows/columns containing them.

# Filling missing values
df_filled = df.fillna({
    'Name': 'Unknown',
    'Age': df['Age'].mean(),  # Filling with mean age
    'Gender': 'Unknown',
    'Salary': df['Salary'].median()  # Filling with median salary
})
print("\nData with Filled Missing Values:")
print(df_filled)

# Dropping rows with missing values
df_dropped = df.dropna()
print("\nData with Dropped Missing Values:")
print(df_dropped)

Data with Filled Missing Values:
      Name        Age   Gender   Salary  Start Date
0    Alice  24.000000        F  50000.0  2020-01-15
1      Bob  27.000000        M  54000.0  2019-03-22
2  Charlie  22.000000        M  50000.0  2018-06-30
3    David  32.000000        M  52000.0  2015-09-01
4   Edward  29.000000  Unknown  58000.0  2016-10-12
5  Unknown  23.000000        M  50000.0  2020-11-20
6    Frank  25.666667        M  59000.0  2017-02-10
7    Grace  21.000000        F  54000.0  2018-07-19
8   Hannah  25.000000        F  60000.0  2019-08-25
9      Ian  28.000000        M  58000.0  2018-12-11

Data with Dropped Missing Values:
      Name   Age Gender   Salary  Start Date
0    Alice  24.0      F  50000.0  2020-01-15
1      Bob  27.0      M  54000.0  2019-03-22
2  Charlie  22.0      M  50000.0  2018-06-30
3    David  32.0      M  52000.0  2015-09-01
8   Hannah  25.0      F  60000.0  2019-08-25
9      Ian  28.0      M  58000.0  2018-12-11

In [7]:

# ## 3. Removing Duplicates
# Duplicates can skew our analysis, so we need to remove them.

# Adding a duplicate row for demonstration
df = df.append(df.iloc[3], ignore_index=True)
print("\nData with a Duplicate Row:")
print(df)

# Removing duplicate rows
df_no_duplicates = df_dropped.drop_duplicates()
print("\nData with Duplicates Removed:")
print(df_no_duplicates)

Data with a Duplicate Row:
       Name   Age Gender   Salary  Start Date
0     Alice  24.0      F  50000.0  2020-01-15
1       Bob  27.0      M  54000.0  2019-03-22
2   Charlie  22.0      M  50000.0  2018-06-30
3     David  32.0      M  52000.0  2015-09-01
4    Edward  29.0   None  58000.0  2016-10-12
5      None  23.0      M  50000.0  2020-11-20
6     Frank   NaN      M  59000.0  2017-02-10
7     Grace  21.0      F      NaN  2018-07-19
8    Hannah  25.0      F  60000.0  2019-08-25
9       Ian  28.0      M  58000.0  2018-12-11
10    David  32.0      M  52000.0  2015-09-01
11    David  32.0      M  52000.0  2015-09-01
12   Edward  29.0   None  58000.0  2016-10-12
13     None  23.0      M  50000.0  2020-11-20
14    Frank   NaN      M  59000.0  2017-02-10
15    Grace  21.0      F      NaN  2018-07-19
16   Hannah  25.0      F  60000.0  2019-08-25
17      Ian  28.0      M  58000.0  2018-12-11
18    David  32.0      M  52000.0  2015-09-01
19    David  32.0      M  52000.0  2015-09-01

Data with Duplicates Removed:
      Name   Age Gender   Salary  Start Date
0    Alice  24.0      F  50000.0  2020-01-15
1      Bob  27.0      M  54000.0  2019-03-22
2  Charlie  22.0      M  50000.0  2018-06-30
3    David  32.0      M  52000.0  2015-09-01
8   Hannah  25.0      F  60000.0  2019-08-25
9      Ian  28.0      M  58000.0  2018-12-11

C:\Users\idsc\AppData\Local\Temp\ipykernel_20040\3297507591.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[3], ignore_index=True)

In [8]:
# ## 4. Data Type Conversions
# Ensuring that each column has the correct data type is important for analysis.

# Converting data types
df_no_duplicates['Age'] = df_no_duplicates['Age'].astype(float)
df_no_duplicates['Salary'] = df_no_duplicates['Salary'].astype(int)
df_no_duplicates['Start Date'] = pd.to_datetime(df_no_duplicates['Start Date'])
print("\nData with Converted Data Types:")
print(df_no_duplicates.dtypes)

Data with Converted Data Types:
Name                  object
Age                  float64
Gender                object
Salary                 int32
Start Date    datetime64[ns]
dtype: object

In [9]:
# ## 5. Basic Data Transformations
# Sometimes we need to create new columns or modify existing ones.

# Creating a new column 'Age Group'
df_no_duplicates['Age Group'] = pd.cut(df_no_duplicates['Age'], bins=[0, 25, 30, 100], labels=['Youth', 'Young Adult', 'Adult'])
print("\nData with New 'Age Group' Column:")
print(df_no_duplicates)

Data with New 'Age Group' Column:
      Name   Age Gender  Salary Start Date    Age Group
0    Alice  24.0      F   50000 2020-01-15        Youth
1      Bob  27.0      M   54000 2019-03-22  Young Adult
2  Charlie  22.0      M   50000 2018-06-30        Youth
3    David  32.0      M   52000 2015-09-01        Adult
8   Hannah  25.0      F   60000 2019-08-25        Youth
9      Ian  28.0      M   58000 2018-12-11  Young Adult

In [11]:
# ## 6. Handling Outliers
# Outliers can affect the analysis and models. Let's identify and handle them.

# For simplicity, let's define outliers in the 'Salary' column as values beyond 1.5 * IQR (Interquartile Range)
Q1 = df_no_duplicates['Salary'].quantile(0.25)
Q3 = df_no_duplicates['Salary'].quantile(0.75)
IQR = Q3 - Q1

outliers = df_no_duplicates[(df_no_duplicates['Salary'] < (Q1 - 1.5 * IQR)) | (df_no_duplicates['Salary'] > (Q3 + 1.5 * IQR))]
print("\nOutliers in Salary:")
print(outliers)

# Removing outliers
df_no_outliers = df_no_duplicates[~df_no_duplicates.isin(outliers)].dropna()
print("\nData with Outliers Removed:")
print(df_no_outliers)

Outliers in Salary:
Empty DataFrame
Columns: [Name, Age, Gender, Salary, Start Date, Age Group]
Index: []

Data with Outliers Removed:
      Name   Age Gender  Salary Start Date    Age Group
0    Alice  24.0      F   50000 2020-01-15        Youth
1      Bob  27.0      M   54000 2019-03-22  Young Adult
2  Charlie  22.0      M   50000 2018-06-30        Youth
3    David  32.0      M   52000 2015-09-01        Adult
8   Hannah  25.0      F   60000 2019-08-25        Youth
9      Ian  28.0      M   58000 2018-12-11  Young Adult

In [12]:
# ## 7. Encoding Categorical Variables
# Machine learning models require numerical inputs, so we need to encode categorical variables.

# One-Hot Encoding for 'Gender' and 'Age Group'
df_encoded = pd.get_dummies(df_no_outliers, columns=['Gender', 'Age Group'])
print("\nData with Categorical Variables Encoded:")
print(df_encoded)

Data with Categorical Variables Encoded:
      Name   Age  Salary Start Date  Gender_F  Gender_M  Age Group_Youth  \
0    Alice  24.0   50000 2020-01-15         1         0                1
1      Bob  27.0   54000 2019-03-22         0         1                0
2  Charlie  22.0   50000 2018-06-30         0         1                1
3    David  32.0   52000 2015-09-01         0         1                0
8   Hannah  25.0   60000 2019-08-25         1         0                1
9      Ian  28.0   58000 2018-12-11         0         1                0

   Age Group_Young Adult  Age Group_Adult
0                      0                0
1                      1                0
2                      0                0
3                      0                1
8                      0                0
9                      1                0

In [13]:
# ## 8. Scaling/Normalizing Data
# Features should be on a similar scale for better performance of machine learning models.

# Normalizing 'Age' and 'Salary' using Min-Max Scaling
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_encoded[['Age', 'Salary']] = scaler.fit_transform(df_encoded[['Age', 'Salary']])
print("\nData with Scaled Features:")
print(df_encoded)

Data with Scaled Features:
      Name  Age  Salary Start Date  Gender_F  Gender_M  Age Group_Youth  \
0    Alice  0.2     0.0 2020-01-15         1         0                1
1      Bob  0.5     0.4 2019-03-22         0         1                0
2  Charlie  0.0     0.0 2018-06-30         0         1                1
3    David  1.0     0.2 2015-09-01         0         1                0
8   Hannah  0.3     1.0 2019-08-25         1         0                1
9      Ian  0.6     0.8 2018-12-11         0         1                0

   Age Group_Young Adult  Age Group_Adult
0                      0                0
1                      1                0
2                      0                0
3                      0                1
8                      0                0
9                      1                0

In [14]:

# ## 9. Renaming Columns
# For consistency and better understanding, let's rename some columns.

df_renamed = df_encoded.rename(columns={'Start Date': 'Start_Date', 'Age Group_Youth': 'Age_Group_Youth', 'Age Group_Young Adult': 'Age_Group_Young_Adult', 'Age Group_Adult': 'Age_Group_Adult'})
print("\nData with Renamed Columns:")
print(df_renamed)

Data with Renamed Columns:
      Name  Age  Salary Start_Date  Gender_F  Gender_M  Age_Group_Youth  \
0    Alice  0.2     0.0 2020-01-15         1         0                1
1      Bob  0.5     0.4 2019-03-22         0         1                0
2  Charlie  0.0     0.0 2018-06-30         0         1                1
3    David  1.0     0.2 2015-09-01         0         1                0
8   Hannah  0.3     1.0 2019-08-25         1         0                1
9      Ian  0.6     0.8 2018-12-11         0         1                0

   Age_Group_Young_Adult  Age_Group_Adult
0                      0                0
1                      1                0
2                      0                0
3                      0                1
8                      0                0
9                      1                0

In [15]:




# ## 10. Handling Inconsistent Data
# Ensuring consistency in data, such as case consistency in categorical variables.

# Converting 'Name' to title case
df_renamed['Name'] = df_renamed['Name'].str.title()
print("\nData with Consistent Case in 'Name':")
print(df_renamed)

# ## Conclusion
# In this notebook, we covered the basics of data cleaning and some advanced techniques including handling missing values, removing duplicates, converting data types, handling outliers, encoding categorical variables, scaling data, renaming columns, and ensuring data consistency.

Data with Consistent Case in 'Name':
      Name  Age  Salary Start_Date  Gender_F  Gender_M  Age_Group_Youth  \
0    Alice  0.2     0.0 2020-01-15         1         0                1
1      Bob  0.5     0.4 2019-03-22         0         1                0
2  Charlie  0.0     0.0 2018-06-30         0         1                1
3    David  1.0     0.2 2015-09-01         0         1                0
8   Hannah  0.3     1.0 2019-08-25         1         0                1
9      Ian  0.6     0.8 2018-12-11         0         1                0

   Age_Group_Young_Adult  Age_Group_Adult
0                      0                0
1                      1                0
2                      0                0
3                      0                1
8                      0                0
9                      1                0